<div class="row text-center text-black mb-5">
  <div class="col-lg-7 mx-auto">
    <!-- <h1 class="display-4">Complaint Redressal System</h1> -->
    <div class="back">
      <br><br>
    </div>
  </div>
</div>



<div class="row" style="justify-content: center; background-color: rgb(50, 112, 54); font-weight: bold; font-size: large;">
  <div style="padding: 2rem;">
    <a routerLink="/admin">Admin </a><br>
  </div>
  <div style="padding: 2rem;">
    <a routerLink="/customers">Customer </a><br>
  </div>
  <div style="padding: 2rem;">
    <a routerLink="/managers">Manager </a><br>
  </div>
  <div style="padding: 2rem;">
    <a routerLink="/engineers">Engineer </a><br>
  </div>
</div>

<router-outlet></router-outlet>